<footer>
    <div class="f_info">
        <div class="f_info_socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    <div class="f_info_brand"> &copy; wonderlust private lmt</div>
        <div class="f_info_links">
            <a href="/terms">terms</a>
            <a href="/privacy">privacy</a>
       
        </div>
 
 
    </div>

</footer>